/* toDoList Component */
.toDoItem {

}

/* toDoItems Component */
.toDoItems {
    background-color: #f4f4f4;
    border-bottom: 1px dotted #7c7c7c;
    padding: 10px;
}

.toDoItems input {
    margin: 0 10px;
}

.toDoItems button {
    float: right;
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #ff7b7b;
    color: #ffff;
    font-weight: bold;
}

.checkbox {
    display: flex;
    display: -webkit-flex;
}

.checkbox input {
    flex: 0.2;
}

.itemDetail {
    display: flex;
    flex: 3;
}

.itemDetail span {
    flex: 1
}


.buttons {
    flex: 2;
}